# edpearOS GRUB loopback configuration
menuentry "edpearOS (Live)" --class arch {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=$imgdevpath img_loop=$isofile earlymodules=loop
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
