[Desktop Entry]
Name=Install edpearOS
Comment=Install edpearOS to your system
Exec=konsole -e archinstall
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
Keywords=install;installer;archinstall;
